* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    background: #363636;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: auto auto auto;
    padding: 0, 50px;
    white-space: normal;
}

#navbar__logo {
    background-color: #474747;
    background-image: linear-gradient(to top, #303030, #404040);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: #A8A7A7, white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 1rem;
    color: #A8A7A7;
    cursor: pointer;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #A8A7A7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.5rem;
    margin-left: -2rem;
    margin-right: 0.5rem 5rem auto;
    height: 100%;
}
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    color: #A8A7A7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 2px solid #000000;
    border-radius: 15px;
    text-decoration: none;
    color: #A8A7A7;
}
